# === Server configuration ===
BB_NAME='BattleBit Server'
BB_PASSWORD=
BB_LOCALIP=0.0.0.0
BB_BROADCASTIP=
BB_PORT=29999
BB_APIENDPOINT=127.0.0.1:29292
BB_HZ=60
BB_ANTICHEAT=eac
BB_MAXPING=150
BB_VOXELMODE=false
BB_FIRSTGAMEMODE=conq
BB_FIRSTMAP=basra
BB_FIXEDSIZE=none
BB_FIRSTSIZE=ultra
BB_MAXSIZE=ultra

# === Container options ===
BB_UID=1000
BB_GID=1000

# === Steam credentials / branch ===
STEAM_USERNAME=
STEAM_PASSWORD=
STEAM_SHARED_SECRET=
STEAM_BRANCH=
BB_SKIP_UPDATE=false
